.menu {
    width: 414px;
    height: 1026px;
    background-color: #E5E5E5;
}

.cabecalho {
    width: 414px;
    height: 92px;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.righeteous {
    font-family: 'Righteous', cursive;
}

h1 {
    width: 248px;
    height: 44px;
    color: #ffffff;
    font-weight: 400;
    margin: 8px 145px 5px 21px; 
    font-size: 44px;
}

h2 {
    width: 226px;
    height: 17px;
    color:#ffffff;
    font-weight: 400;
    font-size:18px ;
    margin: 0px 167px 18px 21px;
}

.pedidos {
    height: 258px;
    width: 395px;
    background-color: red;
    margin-left:19px;
}

.comida {
    margin-top: 31px;
}

.comida h1 {
    color: #333333;
    font-size: 26px;
    width: 250px;
    height: 25px;
    margin-left: 0px;
}

.bebida {
    margin-top: 27px;
}

.bebida h1 {
    color: #333333;
    font-size: 26px;
    width: 231px;
    height: 25px;
    margin-left: 0px;
}

.sobremesa {
    margin: 27px 0px 16px 19px;
}

.sobremesa h1 {
    color: #333333;
    font-size: 26px;
    width: 320px;
    height: 25px;
    margin-left: 0px;
}

.pedido {
    width: 548px;
    height: 216px;
    margin-top: 17px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
}

.escolha{
    width: 172px;
    height: 216px;
    background-color: #ffffff;
}